<table id="show_pages_table">
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th>Title</th>
    <th>Created</th>
  </tr>

  <% @pages.each do |page| %>
    <tr>
      <td><%= page.id %></td>
      <td><%= page.up_votes + page.down_votes %></td>
      <td><%= image_tag("robot.gif", :alt => "robot", :class => "thumbnail_img") %></td>
      <td><%= link_to page.title, page_path(page) %></td>
      <td><%= page.created_at %></td>
    </tr>
  <% end %>
</table>
